.wrapper {
    background-image: url(../images/subtle_background.png)
}

header {
    background-color: #ffffff;
    border-bottom: 6px solid #cccccc;
}

.header_items {
    background-color: #ffffff;
    width: 960px;
    margin: 0 auto;
    /* position: relative; */
}

#name {
    background-color: #4aaaa5;
    width: 200px;
    padding: 24px 0px;
}

h1  {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 34px;
    text-align: center;
    /* float: left; */
}

ul {
    /* float: right; */
}

li {
    display: inline;
    border-right: 1px solid #777777;
    padding: 6px;
}

li:last-child {
    border-right: none;
}

a {
    color: #777777;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    font-size: 28px;
}

.maintext {
    margin: 24px auto 48px;
    background-color: #ffffff;
    width: 960px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #dddddd;
}

h2 {
    color: #4aaaa5;
    font-size: 34px;
    border-bottom: 4px solid #dddddd;
    margin: 6px;
    padding: 12px;
    font-family: Georgia, 'Times New Roman', Times, serif;   
}

#prof_pic {
    float: left;
    margin: 12px;
    border: 2px solid #dddddd;
}

.info {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 12px;
}

footer {
    background-color: #666666;
    border-top: 6px solid #4aaaa5;
}

.copyright {
        color: #777777;
        text-align: center;
        padding: 44px 0px 8px;
}

form {
    margin: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

input {
    width:100%;
    margin: 8px 0px;
}

.form_text {
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

textarea {
    width:100%;
    margin: 8px 0px;
}

.submit {
    background-color: #4aaaa5;
    width: 10%;
    color: #ffffff;
    padding: 10px;
}